@inherits LayoutComponentBase
@layout ThemeLayout

<MudMainContent>
    <div class="pa-4">
        @Body
    </div>
</MudMainContent>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
